@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-stack: Poppins, sans-serif;
$primary-color: #333;

body {
  background-color: #F5EDED;
  font: 100% $font-stack;
  color: $primary-color;
}