@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

// Define breakpoints
$breakpoint-xsmall: 380px; // Extra Small Mobile
$breakpoint-small: 576px; // Small Mobile
$breakpoint-medium: 768px; // Tablets
$breakpoint-large: 992px; // Laptops
$breakpoint-xlarge: 1200px; // Desktops
$breakpoint-xxlarge: 1440px; //big screen
// Mixin for media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == xsmall {
    @media (max-width: #{$breakpoint-xsmall}) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: #{$breakpoint-small}) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: #{$breakpoint-medium}) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: #{$breakpoint-large}) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (max-width: #{$breakpoint-xlarge}) {
      @content;
    }
  } @else if $breakpoint == xxlarge {
    @media (max-width: #{$breakpoint-xxlarge}) {
      @content;
    }
  }
}

body {
  margin: 0;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: "#F5EDED";
  width: 100%;
  margin-top: 2%;
}
.cart-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 1% 0;
  @include respond-to(large) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
  }
  .course-image {
    width: 30%;
    @include respond-to(large) {
      width: 50%;
    }
  }
  img {
    width: 60%;
    padding: 10px 0;
  }
  .course-name{
    width: 30%;
    font-size: clamp(15px,10vw,1.5rem);
    @include respond-to(large) {
      width: 60%;
      text-align: center;
    }
    @include respond-to(small) {
     font-size: 1rem;
    }
  }
  .remove-icon {
    padding: 10px;
    border-radius: 50%;
  }
  .remove-icon:hover {
    background-color: #f5eded;
  }
}
